{% extends "layouts/main.html" %}

{% block pageTitle %}
  Menu – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Menu</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Starter
          </dt>
          <dd class="govuk-summary-list__value">
            Soup
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main
          </dt>
          <dd class="govuk-summary-list__value">
            Chicken
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dessert
          </dt>
          <dd class="govuk-summary-list__value">
            Ice cream
          </dd>
        </div>
      </dl>

    </div>
  </div>

{% endblock %}
